#banner-2 {
    max-width: 100vw;
    background-color: #FAF3EA;
    display: flex;
    padding: 1.44rem 6.125rem;
    margin-bottom: 2.875rem ;
    justify-content: space-between;
    align-items: center;

    #banner-2-section-1 {
        display: flex;
        align-items: center;
    
        .filter {
            display: flex;
            gap: 0.75rem; 
            cursor: pointer;
            
            span{
                font-size: 20px;
                font-weight: 400;
            }
        }

        .showing {
            font-size: 16px;
            font-weight: 400;
            border-left: 2px solid #9F9F9F;
            padding-left: 2.25rem;
            margin-left: 2.25rem ;
        }
    }

    .quantity-input {
        display: flex;
        align-items: center;
        gap: 1rem;

        .input-number{
            width: 3.44rem;
            height: 3.44rem;
            text-align: center;
        }

        span {
            font-size: 20px;
            font-weight: 400;
        }

        input::placeholder {
            color: #9F9F9F;
        }
    
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    #dropdown {
        display: none;
        position: absolute;
        background-color: white;
        box-shadow: 0 .5rem 1rem 0 rgba(0,0,0,0.5);
        z-index: 1;

        a {
            color: black;
            padding: .75rem 1rem;
            background-color: white;
            text-decoration: none;
            display: block;
        }
    }
    

    

    
}  



