#banner-2 {
    max-width: 100vw;
    background-color: #FAF3EA;
    display: flex;
    padding: 23px 98px;

    justify-content: space-between;
    align-items: center;
}  

#banner-2-section-1 {
    display: flex;

}

.filter span{
    font-size: 20px;
    font-weight: 400;
}

.results {
    border-left: 2px solid black;
    padding-left: 36px;
    margin-left: 36px ;
}

.input-number{
    width: 55px;
    height: 55px;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}