header {
    max-width: 100vw;
    height: 6.25rem;
    display: flex;
    justify-content: space-between;
    padding-right: 6.25rem;
    padding-left: 2.3rem;

    #header-section {
        display: flex;
        align-items: center;

        #logo-nome {
            font-family: 'Montserrat';
            font-size: 34px;
            font-weight: 900;
        }
    }

    nav {
        align-self: center;

        .nav-list {
            display: flex;
            flex-direction: row;
            align-items: center;
            list-style-type: none;
            justify-content: space-between;
            gap: 4.688rem;

            li a span {
                font-weight:500 ;
            }
        }

        .nav-icons {
            gap: 2.81rem;
        }

        ul .icon {
            width: 1.75rem;
            height: 1.75rem;
        }
    }
}




