* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 16px;
    font-family: 'Poppins';
}

a {
    text-decoration: none;
    color: black;
}


header {
    max-width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

#header-section {
    display: flex;
    align-items: center;
}

#logo-nome {
    font-size: 34px;
}

nav {
    align-self: center;
}

.nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
}

.nav-list {
    gap: 75px;
}

.nav-icons {
    gap: 45px;
}

.icon {
    width: 28px;
    height: 28px;
}

#main-img {
    width: 100%;
}

main {
    .banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        .title {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;

            h1 {
                font-size: 48px;
            }

            p {
                font-size: 16px;
            }
        }
    }
}

#id-banner-2 {
    max-width: 100vw;
    max-height: 270px;
    background-color: #FAF3EA;
    padding: 100px 53px;
    
    ul{
        display: flex;
        gap: 55.33px;
        
        li{
            display: flex;
            gap: 10px;
        }
    }
}

.title-banner-2 {
    font-size: 25px;
    font-weight: 600;
}

.teste222 {
    font-size: 20px;
    font-weight: 500;
    color: #898989;

}