#pages-buttons {
    display: flex;
    gap: 2.375rem;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 6.25rem;
    margin-top: 4.375rem;

    span {
        background-color: #F9F1E7;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .page-button {
        font-size: 1.25rem;
        font-weight: 400;
        padding: .94rem 1.5rem;
        border-radius: .625rem;
    }

    #next-button {
        font-size: 1.25rem;
        font-weight: 300;
        padding: .94rem 1.75rem;
        border-radius: .625rem;
    }

    .current-page {
        background-color: #B88E2F;
        color: white;
    }
}